
<!-- <h1 class="about-me-title mb-4 px-4">Who is <span class="saad">Saad</span> ?</h1> -->
<div class="row px-5">
  <div class="col-md-5 col-12 my-2">
    <img src="./assets/img/about-us.png" alt="About us image" width="100%" height="100%">
  </div>
  <div class="about col-md-7 col-12 my-2">
    <h1 class="about-title my-2">Let Me Introduce My Self : </h1>
    <p class="about-content text-dark p-3">
      Hi, My name is <span class="saad">Saad Essadiki</span>, 22 years old. I'm a full stack web developer, I have graduated on Sept 2021. I have an experience with building websites and Android Apps. <br>
      Talking about web applications, I usually use Angular for front-end and Laravel for back-end, I'm also aware about other programming languages such as: Javascript, Java, Python, C#, C++, ASP.NET, ADO.NET (...), and I'm also aware about how to deal with databases like mySQL,SqlServer,PostgreSql,sqlite.
      <br>
      Feel free to contact for any job or opportunity that matches My profile.
      <br>
      And don't forget to check my Github. Have a nice day. <br>
      <button class="col-md-3 btn btn-dark border-light py-2 px-3 my-3">
        <a href="https://github.com/saad-devw" target="_blank" >
          GitHub 
          <fa-icon [icon]="faGit"></fa-icon> 
        </a>
      </button>
    </p>
  </div>
</div>
