
<h1 class="about-me-title mb-4 px-4">Who is <span class="saad">Saad</span> ?</h1>
<div class="row px-5">
  <div class="col-md-5 col-12 my-2">
    <img src="./assets/img/about-us.png" alt="About us image" width="100%" height="100%">
  </div>
  <div class="about col-md-7 col-12 my-2">
    <h1 class="about-title my-2">Let Me Introduce My Self : </h1>
    <p class="about-content text-muted p-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sint praesentium quo. Quo atque beatae laudantium ea similique provident nostrum dolorem soluta, omnis eius quia voluptas harum eligendi, cum at ullam accusamus! Vitae, accusantium blanditiis. Nam consequuntur ipsa natus dolores unde, sapiente quae nobis iure velit reiciendis eligendi laborum deserunt? Eius, accusamus est fugit dolores laboriosam magni eum rerum repellat architecto. Magni, quisquam obcaecati. Aperiam exercitationem illo reiciendis repellendus voluptatibus corrupti cumque recusandae architecto eligendi vero incidunt esse at similique nobis earum doloremque minus, dolore amet voluptatum, vitae sed quibusdam ipsam vel? Quidem eaque enim dicta culpa eos hic sapiente?
    </p>
  </div>
</div>