<!-- <div class="loader-wrapper">
  <div class="loader">
    <div class="duo duo1">
      <div class="dot dot-a"></div>
      <div class="dot dot-b"></div>
    </div>
    <div class="duo duo2">
      <div class="dot dot-a"></div>
      <div class="dot dot-b"></div>
    </div>
  </div>
</div> -->


<!------------------------------------------------------------------------->
<div class="loader-wrapper">
  <div class="boxLoading"></div>
</div>

<!------------------------------------------------------------------------->
<!-- <div class="loader-wrapper">
  <div class='loading'>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
  </div>
</div> -->
